.road-ud-header {
  background-color: var(--light-color);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.road-ud-title-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 35px;
}

.header-title {
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2 ease;
}

.header-title:hover {
  transform: scale(1.08);
}

.hamburger-menu-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  margin-right: 15px;
}