 .cctv-grid {
  margin-top: calc(var(--header-h) + 20px);
  margin-bottom: calc(var(--header-h) + 20px);
  margin-right: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
 
.cctv-feed {
  width: 100%;
  height: 100%;
}
 
.cctv-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.details-right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  cursor: pointer;
}

.cctv-info p {
  font-weight: bold;
  font-size: 15px;
  color: var(--light-color);
  margin: 0;
  display: inline-flex;
  align-items: center;
  line-height: 30px;
}

.details-right-arrow i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  margin-left: 8px;
  color: var(--light-color);
  line-height: 30px;
}

.cctv-video {
  background-color: #d4d2d2;
  height: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cctv-video i {
  color: #555555;
  font-size: 50px;
}
 
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  z-index: 999;
  display: none;
}

.sidebar-overlay.visible {
  display: block;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}