* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--light-color);
  color: #333;
  line-height: 1.6;
  height: 750px;
}

:root {
  --primary-color: #4c8a89;
  --secondary-color: #2c3e50;
  --accent-color: #3498db;
  --light-color: #f5f7fa;
  --dark-color: #0b132b;
  --success-color: #2ecc71;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --text-color-1: #171717;
  --text-secondary: #575757;
  --sidebar-bg-1: #ffffff;
  --shadow-1: rgba(0, 0, 0, 0.05);
  --sidebar-hover-bg-1: rgba(76, 138, 137, 0.1);
  --sidebar-active-bg-1: var(--primary-color);
  --sidebar-w: 250px;
  --header-h: 70px;
}

.module-title-container {
  margin-top: calc(var(--header-h) + 25px);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module-title {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
}

.sub-module-description {
  font-size: 15px;
  color: var(--text-secondary);
}