.sidebar-container {
  background: var(--light-color);
  color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  z-index: 1000;
}

.sidebar-container.open {
  transform: translateX(0);
}

.sidebar-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s;
}

.sidebar-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--primary-color);
  gap: 10px;
  flex: 1;
}

.sidebar-close-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  padding: 5px;
  transition: transform 0.2s ease;
}

.sidebar-close-btn:hover {
  transform: scale(1.1);
}

.menu-items {
  margin-top: 15px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid transparent;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background: #E8E8E8;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.sidebar-link:active {
  background: var(--primary-color);
  color: var(--light-color);
}